/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap');

/* VARIABLES */
html {

  /* Color Primario: Verde Oliva */
  --colorPrimario: hsl(90, 40%, 40%);
  --colorPrimarioClaro:hsl(90, 70%, 70%);

  /* Color Secundario: Azul */
  --colorSecundarioOscuro:hsl(210, 60%, 15%);
  --colorSecundario:hsl(210, 20%, 50%);
  --colorSecundarioClaro:hsl(210, 35%, 95%);

  /* Colores Base */
  --colorBlanco: white;

  /* Fuentes */
  --fuentePrimaria: 'Catamaran', sans-serif;
  --fuenteCursiva: 'Grand Hotel', cursive;

  /* Dimensiones */
  --tamagnoFuenteEstandar: 0.875rem;
  --espaciado: 0.2rem;
  --radioBordes: 0.5rem;

  /* Otros */
  --trasicionLineal: all 0.4s linear;
}

/* ESTILOS GLOBALES PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorBlanco);
  font-family: var(--fuentePrimaria);
  color: var(--colorSecundarioOscuro);
  line-height: 1.5;
  font-size: var(--tamagnoFuenteEstandar);
}

/* ESTILOS GLOBALES ELEMENTOS */
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

[class^="boton"] {
  background-color: var(--colorPrimario);
  color: var(--colorBlanco);
  text-transform: uppercase;
  padding: 1em 2.5em;
  letter-spacing: var(--espaciado);
  display: inline-block;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: var(--trasicionLineal);
}

[class^="boton"]:hover {
  background-color: var(--colorPrimarioClaro);
  color: var(--colorPrimario);
}

.reparacionFloat::before, .reparacionFloat::after {
  content: '';
  clear: both;
  display: block;
}

/* ESTILOS GLOBALES TEXTO */
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.15rem; }
h5 { font-size: 1rem; }
p { margin-bottom: 1.25rem; }

h1, h2, h3, h4 {
  letter-spacing: var(--espaciado);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

div.tituloSeccion {
  margin-bottom: 2rem;
}

div.tituloSeccion h3 {
  font-family: var(--fuenteCursiva);
  color: var(--colorPrimario);
}

/* ESTILOS GENERALES TEXTO - MEDIA QUERIES */
@media (min-width: 760px) {
  body { font-size: 1rem; }
  h1 { font-size: 4rem; }
  h2 { font-size: 2.5rem; }
  h3 { font-size: 1.5rem; }
  h4 { font-size: 1.15rem; }
  h1, h2, h3, h4 { line-height: 1; }
}

/* ESTILOS GLOBALES - CONTENEDOR SECCIONES */
div.contenedorSeccion {
  padding: 2rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 960px) {
  div.contenedorSeccion {
    width: 95vw;
    padding: 2rem 1rem;
  }
}

/* HEADER */
header {
  min-height: 100vh;

  /* Imagen Fondo */
  background-image: url('/../imagenes/FondoPrincipal.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* Ajuste Oscurecimiento */
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;

  /* Posición de referencia para posición absoluta de hijos */
  position: relative;
}

div.textoHero {
  text-align: center;

  /* Estrategia Centrado: */
  /* A) Esquina superior izquierda del texto en centro del contenedor */
  position: absolute;
  top: 50%;
  left: 50%;
  /* B) Mover texto reubicando su propio centro donde estaba esquina superior izquierda */
  transform: translate(-50%, -50%);
}

div.textoHero h2 {
  font-family: var(--fuenteCursiva);
  color: var(--colorPrimario);
}

div.textoHero h1 {
  color: var(--colorBlanco);
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

div.textoHero a.botonHero {
  outline: 2px solid var(--colorPrimario);
  outline-offset: 4px;
  font-weight: bold;
  font-size: 0.875rem;
}

div.separadorHeader {
  height: 0.5rem;
  background-image: linear-gradient(
    to right, var(--colorPrimario), #E8B848, var(--colorPrimario));
}

/* SECCIÓN: HABILIDADES */
section.seccionHabilidades {
  background-color: var(--colorSecundarioClaro);
}

article.habilidad {
  text-align: center;
  padding: 2.5rem 0;
  transition: var(--trasicionLineal);
}

span.iconoHabilidad {
  font-size: 2.5rem;
  display: inline-block;
  margin-bottom: 1.25rem;
  color: var(--colorPrimario);
  transition: var(--trasicionLineal);
}

p.textoHabilidad {
  color: var(--colorSecundario);
  max-width: 15rem;
  margin: 0 auto;
}

article.habilidad:hover {
  background-color: var(--colorBlanco);
  box-shadow: 0 2px var(--colorPrimario);
}

article.habilidad:hover span.iconoHabilidad {
  transform: translateY(-5px);
}

/* SECCIÓN: HABILIDADES - MEDIA QUERIES */
@media (min-width: 600px) {
  article.habilidad {
    float: left;
    width: 50%;
  }
}

@media (min-width: 960px) {
  article.habilidad {
    float: left;
    width: 25%;
  }
}

/* SECCIÓN: ACERCA DE */
section.seccionAcercaDe article {
  padding: 2rem 0;
}

div.imagenAcercaDe {
  background-color: var(--colorPrimario);
  border: 4px solid var(--colorPrimario);
  max-width: 30rem;
  overflow: hidden;
}

div.imagenAcercaDe img {
  transition: var(--trasicionLineal);
}

div.imagenAcercaDe:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

div.textoAcercaDe p {
  max-width: 30rem;
  text-align: justify;
  color: var(--colorSecundario);
}

/* SECCIÓN: ACERCA DE - MEDIA QUERIES */
@media (min-width: 960px) {
  section.seccionAcercaDe article {
    float: left;
    width: 50%;
    padding-left: 2rem;
  }
}

/* SECCIÓN: PRODUCTOS */
section.seccionProductos {
  background-color: var(--colorSecundarioClaro);
}

section.seccionProductos article {
  padding-top: 1rem;
}

div.contenedorProducto {
  margin-bottom: 2rem;
}

div.descripcionProductos p {
  max-width: 30rem;
  text-align: justify;
  color: var(--colorSecundario);
}

div.imagenProducto {
  border-radius: var(--radioBordes);
  overflow: hidden;
  background-color: var(--colorPrimario);
  margin-bottom: 2rem;
}

div.imagenProducto img {
  transition: var(--trasicionLineal);
  height: 16rem;
  object-fit: cover;
  object-position: center;
}

div.imagenProducto:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

h5.precioProducto {
  color: var(--colorPrimario);
}

div.contenedorProducto p {
  text-align: justify;
  color: var(--colorSecundario);
}

/* SECCIÓN: PRODUCTOS - MEDIA QUERIES */
@media (min-width: 600px) {
  div.contenedorProducto {
    float: left;
    width: 50%;
    padding: 0 1rem;
  }
}

@media (min-width: 960px) {
  div.contenedorProducto {
    width: calc(100% / 3);
  }

  article.infoProductos {
    text-align: center;
  }

  div.descripcionProductos p {
    margin-left: auto; 
    margin-right: auto; 
  }
}

/* Sistema de columnas anidadas */
@media (min-width: 1200px) {
  article.infoProductos {
    float: left;
    width: 30%;
  }

  article.catalogoProductos {
    float: left;
    width: 70%;
  }

  article.infoProductos {
    text-align: left;
  }

  section.seccionProductos article {
  padding-right: 2rem;
  }
}

/* SECCIÓN: SERVICIOS */
div.tituloServicios {
  margin-top: 4rem;
  margin-bottom: -2rem;
  text-align: center;
}

article.cartaServicio {
  margin: 2rem 0;
  background: var(--colorSecundarioClaro);
  border-radius: var(--radioBordes);
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--trasicionLineal);
}

article.cartaServicio:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

div.imagenServicio img {
  height: 16rem;
  object-fit: cover;
  object-position: center;
}

div.infoServicio {
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
}

div.infoServicio p {
  max-width: 25rem;
  color: var(--colorSecundario);
  margin-left: auto;
  margin-right: auto;
}

a.botonServicio {
  font-size: 0.7rem;
  text-transform: capitalize;
  border-radius: 100px;
  font-weight: normal;
}

/* SECCIÓN: SERVICIOS - MEDIA QUERIES */
@media (min-width: 760px) {
  article.cartaServicio {
    float: left;
    /* 2 Cartas: 2 x 45% c/u + 5% Margen c/u */
    width: 45%;
    margin-right: 5%;
  }
}

@media (min-width: 960px) {
  article.cartaServicio {
    float: left;
    /* 3 Cartas: 3 x 30% c/u + 3.33 % Margen c/u */
    width: 30%;
    margin-right: calc(10% / 3);
  }
}

/* SECCIÓN SERVICIOS - ÍCONOS */
div.imagenServicio {
  position: relative;
}

div.imagenServicio span {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 2rem;
  color: var(--colorPrimario);
  background-color: var(--colorPrimarioClaro);
  transform: translate(-50%, 50%);
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  border: 6px solid var(--colorSecundarioClaro);
}

/* SECCIÓN: CONTACTO */
section.seccionContacto {
  background-color: var(--colorSecundarioClaro);
}

section.seccionContacto article {
  margin: 1rem 0;
}

div.itemInfoContacto {
  margin-bottom: 1.75rem;
}

h4.tituloInfoContacto {
  color: var(--colorPrimario);
  font-weight: normal;
  letter-spacing: 0;
}

h4.tituloInfoContacto i {
  padding-right: 0.75rem;
}

h5.valorInfoContacto {
  letter-spacing: 0.1em;
}

article.formulario {
  background-color: white;
  border-radius: var(--radioBordes);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  overflow: hidden;
}

article.formulario:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

article.formulario div.tituloSeccion {
  margin-bottom: 0;
}

article.formulario h3 {
  padding-top: 1.25rem;
}

div.camposFormulario {
  padding: 1rem 1.5rem;
}

.campoFormulario {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  border: none;
  background-color: var(--colorSecundarioClaro);
  border-radius: 4px;
  font-family: var(--fuentePrimaria);
}

input[name="nombre"] {
  text-transform: uppercase;
}

.campoFormulario::placeholder {
  text-transform: none;
}

.campoFormulario:focus {
  outline: none;
  box-shadow: 0 0 2px 1px var(--colorPrimario); 
}

button.botonEnviarFormulario {
  display: block;
  width: 100%;
  border-radius: 0;
  padding: 1.25em 0;
}

/* SECCIÓN: CONTACTO - MEDIA QUERIES */
@media (min-width: 960px) {
  section.seccionContacto article {
    float: left;
    width: 50%;
  }
}

/* PIE DE PÁGINA */
footer {
  /* background-color: var(--colorSecundarioOscuro); */
  /* color: var(--colorBlanco); */
}